
.vs/Creating a Rectangle Class/FileContentIndex/0b889ebf-0a3f-4f49-a466-bb3f346c3dcb.vsidx
.vs/Creating a Rectangle Class/v17/.wsuo
.vs/Creating a Rectangle Class/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Creating a Rectangle Class/.vs/Creating a Rectangle Class/DesignTimeBuild/.dtbcache.v2
Creating a Rectangle Class/.vs/Creating a Rectangle Class/FileContentIndex/66c91e42-9cf6-422e-b30c-cd2158d48b96.vsidx
Creating a Rectangle Class/.vs/Creating a Rectangle Class/FileContentIndex/a66eece7-cbaf-4e9a-92d6-a53cc2a573ce.vsidx
Creating a Rectangle Class/.vs/Creating a Rectangle Class/v17/.futdcache.v2
Creating a Rectangle Class/.vs/Creating a Rectangle Class/v17/.suo
Creating a Rectangle Class/.vs/Creating a Rectangle Class/v17/DocumentLayout.json
Creating a Rectangle Class/.vs/ProjectEvaluation/creating a rectangle class.metadata.v7.bin
Creating a Rectangle Class/.vs/ProjectEvaluation/creating a rectangle class.projects.v7.bin
Creating a Rectangle Class/Creating a Rectangle Class.sln
Creating a Rectangle Class/Creating a Rectangle Class/Creating a Rectangle Class.csproj
Creating a Rectangle Class/Creating a Rectangle Class/obj/Creating a Rectangle Class.csproj.nuget.dgspec.json
Creating a Rectangle Class/Creating a Rectangle Class/obj/Creating a Rectangle Class.csproj.nuget.g.props
Creating a Rectangle Class/Creating a Rectangle Class/obj/Creating a Rectangle Class.csproj.nuget.g.targets
Creating a Rectangle Class/Creating a Rectangle Class/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Creating a Rectangle Class/Creating a Rectangle Class/obj/Debug/net8.0/Creating a Rectangle Class.AssemblyInfo.cs
Creating a Rectangle Class/Creating a Rectangle Class/obj/Debug/net8.0/Creating a Rectangle Class.AssemblyInfoInputs.cache
Creating a Rectangle Class/Creating a Rectangle Class/obj/Debug/net8.0/Creating a Rectangle Class.assets.cache
Creating a Rectangle Class/Creating a Rectangle Class/obj/Debug/net8.0/Creating a Rectangle Class.GeneratedMSBuildEditorConfig.editorconfig
Creating a Rectangle Class/Creating a Rectangle Class/obj/Debug/net8.0/Creating a Rectangle Class.GlobalUsings.g.cs
Creating a Rectangle Class/Creating a Rectangle Class/obj/project.assets.json
Creating a Rectangle Class/Creating a Rectangle Class/obj/project.nuget.cache
Creating a Rectangle Class/Creating a Rectangle Class/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Creating a Rectangle Class/Creating a Rectangle Class/obj/Release/net8.0/Creating a Rectangle Class.AssemblyInfo.cs
Creating a Rectangle Class/Creating a Rectangle Class/obj/Release/net8.0/Creating a Rectangle Class.AssemblyInfoInputs.cache
Creating a Rectangle Class/Creating a Rectangle Class/obj/Release/net8.0/Creating a Rectangle Class.assets.cache
Creating a Rectangle Class/Creating a Rectangle Class/obj/Release/net8.0/Creating a Rectangle Class.GeneratedMSBuildEditorConfig.editorconfig
Creating a Rectangle Class/Creating a Rectangle Class/obj/Release/net8.0/Creating a Rectangle Class.GlobalUsings.g.cs
